/* static/css/styles.css */
body {
    background-color: #d0d0d0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
header h1 {
    margin: 0;
    font-size: 28px;
}
main {
    background-color: #d0d0d0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.entry {
    display: flex;
    margin-bottom: 20px;
}
.entry img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.entry p {
    margin: 0;
    flex-grow: 1;
    font-size: 18px;
}
.upload-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.upload-form input[type="file"] {
    margin-bottom: 10px;
}
.upload-form textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.upload-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.upload-form input[type="submit"]:hover {
    background-color: #0056b3;
}

 /* Modal Styling */
 .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal.active {
    display: block;
}